body {
    padding: 5px;
    font-family: consolas, "courier new", monospace;
}
#qrcode {
    text-align: center;
    margin-bottom: 2em;
    width: 196px;
    height: 196px;
}
#setting-level {
    margin-bottom: 1em;
}
#input-content {
    font-family: inherit;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    resize: none;
    height: 3em;
    width: 196px;
}